img {
  max-width: 400px;
}
.red_outline {
  border: 1px solid red;
  padding: 3px 4px;
  background-color: azure;
  margin: 10px;
}
* {
  box-sizing: border-box;
}
#article1 > {
  color: blue;
}

body {
  font-style: sans-serif;
  color: #f56e56;
}

a {
  text-decoration: none;
  color: firebrick;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: yellow;
}

a:visited {
  color: black;
}
.hidden {
  display: none;
}

.min_input {
  min-width: 500px
}